body>img
{
    width:100%;
    opacity:0.5;
    height:900px;
}
table
{
    height:400px;
    width:400px;
    position:absolute;
    top:20%;
    left:35%;
    border:2px solid blue;
}
td
{
    height:100px;
    width:100px;
    text-align: center;
    font-size: 200%;
    color: lawngreen;
    font-family: cursive;
    text-shadow: 2px 2px wheat;
}
#X
{
    position: absolute;
    top:45%;
    left:20%;
    width:10%;
}
#O
{
    position: absolute;
    top:45%;
    right:25%;
    width:10%;
}
#new
{
    position: absolute;
    top:80%;
    left:45%;
    width:7%;
}
h1
{
    font-size: 260%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:lime;
    text-shadow: 2px 2px gold;
    position: absolute;
    left:35%;
    top:2%
}        
.hide
{
    display:none;
}
h2
{
    font-size: 190%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
}
.startcont
{
    width:35%;
    height:80px;
    text-align: center;
    box-shadow: 3px 3px gold;
    position: absolute;
    top:34%;
    left:31%;
    cursor: pointer;
    background-color: orangered;
}
.how
{
    position: absolute;
    top:59%;
    left:26%;
}
p
{
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: royalblue;
}
h3
{
    font-size: 380%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    left:28%;
}